.spinner-wrapper {
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

#spin {
  position: absolute;
}

.prime {
  background: var(--primary-color);
  width: 100px;
  height: 100px;
}

.second {
  background: var(--secondary-color);
  width: 100px;
  height: 100px;
}

.preload {
  width: 100vw;
  height: 100vh;
  background: white;
}

.featured-image-backend {
  width: 100% !important;
  height: 100% !important;
  aspect-ratio: 1 / 1 !important;
  border: solid 1px #e4e6fc;
  background-image: none !important;
  padding: 0 !important;
}

.logo-image-input-container {
  width: 200px;
  height: 200px !important;
  aspect-ratio: 1 / 1 !important;
  border: solid 1px #e4e6fc;
  background-image: none !important;
  padding: 0 !important;
}

.featured-image-preview {
  object-fit: contain;
  object-position: center;
}

.featured-image-preview.is-invalid {
  padding-right: 0px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  border: 1px solid transparent;
  background: transparent;
}

.fa-regular {
  font-size: 13px;
}

.bulk-action {
  margin-bottom: 25px;
}

.bulk-action .form-group {
  margin-bottom: 0px;
}

.img-tbl-preview {
  height: 100px;
}

.icon-tbl-preview {
  height: 40px;
}

.img-table {
  width: 100%;
  max-width: 200px;
}

.ck-editor__editable {
  min-height: 200px;
}

.activity-detail-status{
  font-size: 37px;
  color: #6777EF;
}

button{
border: none;
}

.card .nav-link{
  margin-bottom: 10px;
  background-color: transparent;
  color: #6777EF;
  text-align: left;
}

.card .nav-link:focus-visible{
  background-color: transparent;
  outline: none;
}